html, body{
	height:100%;
}
/* header{
	background-color:white;
	font-family:"Roboto", sans-serif;
	color:#777378;
	text-align:left;
	padding:10px;
	top:0;
	height:30px;
	width:100%;
	display: -webkit-flex;
   	display: flex;
   	-webkit-align-items: left;
   	align-items: left;
   	-webkit-justify-content: left;
   	justify-content: left;
	position: relative;
}
*/

body{
	font-size: 14px;
	font-family: 'Verdana', sans-serif;
	background-color:lightblue;

	
}
*{
	box-sizing:border-box;
}
a{
	color:#cc0000;
	text-decoration:none;
}

h1,h2,h3,h4,h5{
	font-family: 'Roboto', sans-serif;
	font-weight: bold;
}


h1{
	font-size: 48px;
}

h2{
	font-size: 26px;
}

h1.hero{
	background:white;
	padding:70px 0;	

}


.container{
	max-width: 1024px;
	margin:0 auto;
}

#home{
	margin-top: 100px;
	text-align: center;
	color:black;
	padding:0px 0;
	font-size:30;
}

#home .introduction{
	display:flex;
	justify-content:center;
	text-align: left;
}

#home .introduction h1{
	margin:0;
}

#home .intro h1:first-child{
	text-align: right;
	margin-right: 8px;
}

#home .introduction h1:last-child{
	color:black;
}


#about{
	background:white;
	padding:70px 0;	
	overflow: hidden;
}

#about .aboutContainer{
	display: -webkit-flex;
   	display: flex;
   	-webkit-align-items: center;
   	align-items: center;
   	-webkit-justify-content: center;
   	justify-content: center;
   	-webkit-flex-direction: row;
   	flex-direction: row;
   	-webkit-flex-wrap: wrap;
   	flex-wrap: wrap;
   	-webkit-flex-flow: row wrap;
   	flex-flow: row wrap;
   	-webkit-align-content: flex-end;
   	align-content: flex-end;
}

#about img{
	width:40%;
	margin:auto;
	
}

#about .aboutContainer{
	max-width:50%;
	margin:auto;
	text-align:center;
	font-family:'Roboto', sans-serif;
	font-size:1em;
}

#contact{
	padding:70px 0;	
	color:black;
	text-align: center;
	margin:auto;
}

#contact ul.socialMediaLinks{
	list-style:none;
	padding:0;
	margin:auto;
}

#contact ul.socialMediaLinks li{
	display: block;
	margin:auto;
	margin-bottom: 10px;
}

#contact small:first-of-type{
	color:black;
}

#contact #email{
	font-weight:bold;
}


footer{
	background-color:black;
	font-family:"Roboto", sans-serif;
	color:#777378;
	text-align:center;
	padding:10px;
	bottom:0;
	height:30px;
	width:100%;

}
