html, body{
	height:100%;
	margin:0;
	padding:0;

}
header{
	position:fixed;
	background-color:white;
	font-family:"Roboto", sans-serif;
	color:#777378;
	text-align:right;
	padding:5px;
	top:0;
	height:40px;
	width:100%;
   	display: inline-block;
   	-webkit-align-items: right;
   	align-items: right;
   	-webkit-justify-content: right;
   	justify-content: right;
	
}
header>span{
	justify-content: left;
   	color:black;
   	font-family:"Lato", sans-serif;
   	float:left;
   	padding-top:10px;
   	padding-left:20px;
   	font-size:1.3em;
	margin: 0 0 0.75em
}

header>a{
padding-right:20px;
}


body{	
	font-size: 12px;
	font-family:'Roboto', sans-serif;
	background-color:lightblue;
	

	
}
#topHero{
    -webkit-filter: opacity(90%); /* Chrome, Safari, Opera */
    filter: opacity(90%);
	
}
*{
	box-sizing:border-box;
	background-repeat:repeat;
}
a{
	color:#cc0000;
	text-decoration:none;
}

h1,h2,h3,h4,h5{
	font-weight: bold;
}


h1{
	font-size: 3em;
}

h2{
	font-size: 1.5em;
}

h1.hero{
	background:white;
	padding:70px 0;	

}


.container{
	max-width: 1024px;
	margin:0 auto;
	margin-bottom:100px;

}

#home{
	margin-top: 100px;
	text-align: center;
	color:black;
	padding:0px 0;
	font-size:25;


}

#home #introduction{
	display:flex;
	justify-content:center;
	text-align: left;
	color:grey;
}

#home #introduction h1{
	margin:0;

}

#home .intro h1:first-child{
	text-align: right;
	margin-right: 8px;

}

#home #introduction h1:last-child{
	color:black;
}


#about{
	background:white;
	padding:70px 0;	
	overflow: hidden;
}

#about .aboutContainer{
	display: -webkit-flex;
   	display: flex;
   	-webkit-align-items: center;
   	align-items: center;
   	-webkit-justify-content: center;
   	justify-content: center;
   	-webkit-flex-direction: row;
   	flex-direction: row;
   	-webkit-flex-wrap: wrap;
   	flex-wrap: wrap;
   	-webkit-flex-flow: row wrap;
   	flex-flow: row wrap;
   	-webkit-align-content: flex-end;
   	align-content: flex-end;
}

#about img{
	width:250px;
	margin:auto;
	
}

#about .aboutContainer{
	max-width:50%;
	margin:auto;
	text-align:center;
	font-size:1em;
}

#contact{
	padding:70px 0;	
	color:black;
	text-align: center;
	margin:auto;
	padding-bottom: 200px;
}

#contact ul.socialMediaLinks{
	list-style:none;
	padding:0;
	margin:auto;
}

#contact ul.socialMediaLinks li{
	display: block;
	margin:auto;
	margin-bottom: 10px;
}

#contact small:first-of-type{
	color:black;
}

#contact #email{
	font-weight:bold;
}

#redbar{
	background-color:red;
	text-align:center;
}

#portfolio{

	background-color:white;
	text-align:center;
	font-size:1em;
}


#technologies{
	font-size:3em;
	height:25%;
	padding:10px;
	padding-top:20px;
	text-align:center;
	margin:auto;
	background-color:white;
}
#bottomHero{
	-webkit-filter: opacity(80%); Chrome, Safari, Opera */
    filter: opacity(80%); 
}
#ecg{
	width:50%;
	margin:auto;
}
.projectTitle{
	font-size:1.3em;
	font-weight:bold;
}
#agar{
	width:50%;
	margin:auto;
}


footer{
	font-size:.9em;
	font-family:'Roboto',sans-serif;
	text-align: center;
}
