$fontSans: monospace
$fontMonospace: monospace

$alpha: #149414
$beta: #0e6b0e
$gama: #649568
$delta: #2b5329
$epsilon: #212123

$mobile: "only screen and (max-width: 400px)"
$tablet: "only screen and (min-width: 400px) and (max-width: 1050px)"
$above: "only screen and (min-width: 780px)"
$below: "only screen and (max-width: 780px)"
